body,
html {
    margin: 0 auto;
    text-align: center;
}

input {
    font-size: 16px;
    width: 140px;
}

header {
    background-color: rgb(0, 0, 113);
    color: white;
    height: 135px;
    width: 100%;
    line-height: 100px;
    overflow: hidden;
}

#employeeTable {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    text-align: left;
    padding: 7px 16px;
    font-size: 18px;
}

#bottomRow {
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #dbdbdb;
}

tr {
    background-color: #efefef;
}

th {
    background-color: rgb(49, 49, 200);
    color: white;
    font-size: 16px;
}

.deleteCell {
    text-align: center;
}

.salaryCell {
    text-align: right;
}

.deleteEmployeeButton,
#submitButton {
    font-size: 16px;
}

.overBudget {
    background-color: rgb(255, 137, 137);
}